@using AutoRegisterDemoWebApp.Models

@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<CompletedValidationModel>

<div class="text-center">
    @foreach(var validation in Model)
    {
        <p>@validation.Message</p>
    }
</div>
